html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  position: relative;
  bottom: 0;
  height: 120px; /* Ajusta la altura a 170px para que sea más grueso */
}

.pet-image {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  object-fit: cover; /* Ensures the image covers the given size without stretching */
  border-radius: 8px; /* Optional: adds rounded corners to the image */
}
